/* index html */
html, body {
    height: 100%;
    font-family: 'Sofia Pro', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}


.container{
       max-width: 1100px;
        width: 100%;
        
        background: white;
        border: 10px solid #000000;
        box-sizing: border-box;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container-logo{
    width: 5%;
    padding: 20px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-evenly;
}
.navItem{
    color: black;
    text-decoration: none;
}
 
.logo{
    height: 100px;
    width: 100px;
}

.fishy{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    text-align: center;
    width: 100%;
}

.fish{
    height: 80%;
    width: 80%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */

}
       h1{
        font-family: 'Sofia Pro';
        font-size: 18pts;
        
}
    p{
    display: flex;
    flex-direction: row;
    font-family: 'Sofia Pro';
    font-size: 14pts;

}

.home-container {
    width: 90%; 
    margin: 15px auto 15px auto;  
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start;
    
    
   }
.home{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding: 20px;
}
.about-container {
    width: 90%; 
    margin: 15px auto 15px auto;  
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: flex-start;
    
    
   }
.about-us{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    
}
.our-history{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    
}
.our-team{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    
}
.our-app{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding: 20px;
}
.sign-up{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding: 20px;
}
/* tablet view */
@media (max-width: 800px) and (min-width: 501px){
    .nav{
        width: 80%;
        text-align: center;
        justify-content: space-around;
    }
    nav{
        width: 70%;
        text-align: center;
        justify-content: space-around;
    }
    .home{
        width: 100%;
    }
    .home-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .our-app{
        width: 100%;
    }
    .sign-up{
        width: 100%;
    }
    .about-us{
        width: 100%;
    }
    .our-team{
        width: 100%;
    }
    .our-history{
        width: 100%;
    }
    .about-container {
        width: 90%; 
        /* margin: 15px auto 15px auto;   */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: space-evenly; 
        /* align-items: flex-start; */
        
        
       }
    }

    
/* mobile view */
@media (max-width: 500px) {
    .nav{
        width: 100%;
        text-align: center;
        justify-content: space-around;
    }
    nav{
        width: 100%;
        text-align: center;
        justify-content: space-around;
        margin: 15px 0px;
    }
    .about-container {
        width: 95%; 
        margin: 0 auto;
        display: flex;
        /* flex-wrap: wrap;  */
        justify-content: space-evenly; 
        padding: 10px;
        /* align-items: flex-start; */
        
       }
       .about-us{
        width: 98%;
       }
       .our-history{
        width: 100%;
       }
       .our-team{
        width: 100%;
       }
       .container-logo{
        width: 100%;
        padding: 0px;
    }

}



